@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #111111;
}


.landing-page {

  /* 100 % of the browse window height */
  min-height: 100vh;

  /* Needed when we position stars around the page */
  position: relative;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background: /* gradient like background */
    radial-gradient(
      circle at center,
      #11182b 0%,
      #0b1020 35%,
      #070a12 70%
    );
}

.landing-page h1 {
  margin: 0;

  font-size: 64px;
  font-weight: 500;

  letter-spacing: 8px;

  color: #f5f3ee;
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6 {
  position: absolute;

  width: 6px;
  height: 6px;

  background: #fff2c7;
  border-radius: 50%;

  box-shadow:
    0 0 8px rgba(255, 242, 199, 0.7),
    0 0 20px rgba(255, 242, 199, 0.25);
}

.star1 {
  top: 20%;
  left: 15%;
}

.star2 {
  top: 38%;
  left: 27%;
}

.star3 {
  top: 24%;
  right: 17%;
}

.star4 {
  bottom: 22%;
  left: 20%;
}

.star5 {
  bottom: 18%;
  right: 26%;
}

.star6 {
  top: 58%;
  right: 12%;
}
